<h1>eat da burger</h1>
<img src="assets/images/burger.png">
<div class="devoured"></div>

<ul>
    {{#each burgers}}
        <li data-id="{{id}}" class="move">{{this.id}}- {{this.burger_name}}

	<button class="change-status" data-id="{{id}}">
		{{#if devoured}}
        {{else}}
            eat me!!!
        {{/if}}
	</button>


        </li>
    {{/each}}
</ul>

<h2>create your burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">burger name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">add burger</button>

</form>